{{> adminheader}}

<!-- Layout container -->
<script>
    var orderCount = {{ ordercount }}
    var Resultmonth = [{{ resultmonth }}];
    var Monthamount = [{{ monthamount }}];
    var totalproductcount = {{ TotalProductCount }};
</script>
<!-- / Navbar -->
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card">
                    <div class="d-flex align-items-end row">

                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="row row-bordered g-0">
                        <div class="col-sm-6">
                            <h5 class="card-header m-0 me-2 pb-3">Total Sale Report {{df}} to {{dt}}</h5>
                            <div class="card-body">
                                <div id="totalRevenueChart" class="px-3 m-4">
                                    <canvas id="myChart" width="300px" height="300px"></canvas>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <div id="totalRevenueChartpei" class="px-3 m-4">
                                    <canvas id="myChartpei" width="300px" height="300px"></canvas>
                                </div>
                            </div>
                            {{!-- <div id="growthChart"></div> --}}
                            {{!-- <div class="text-center fw-medium pt-3 mb-2">Total product count {{TotalProductCount}}
                            </div> --}}
                            <div class="text-center fw-medium pt-3 mb-2">Total {{totalOrders}} Orders</div>
                            <div class="text-center fw-medium pt-3 mb-2">{{df}} to {{dt}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Expense Overview -->
        </div>
        <div class="card">
            <h5 class="card-header">Details of Orders</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Status</th>

                            <th>date</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each orders}}
                        <tr>
                            <td>{{orderID}}
                            </td>
                            <td>{{username}}</td>
                            <td>
                                <span class="fw-medium">{{name}}</span>
                            </td>
                            <td><a href="/admin/ordersproduct/{{_id}}">Product Details</a></td>

                            <td>{{total}}</td>
                            <td>{{totalamount}}</td>
                            <td>{{status}}</td>

                            <td>{{orderdate}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
        {{!-- <form action="/admin/pdfgenerator" method="post">
            <input type="text" value="{{df}}" name="datefrom" hidden>
            <input type="text" value="{{dt}}" name="dateto" hidden>
            <input type="text" value="{{[status]}}" name="status" hidden>

            <button type="submit" class="btn btn-primary mt-4 mr-3">Export PDF</button>
        </form> --}}
        <a class="btn btn-primary mt-4 mr-3" href="/admin/pdfgenerator">Export PDF</a>
        <a id="printpage" class="btn btn-primary mt-4 mr-3" href="">Print</a>


    </div>

</div>
<script>
        document.getElementById('printpage').addEventListener('click', function() {
            window.print();
        });
    </script>
<script>
    var data = {
        labels: ["Fasion", "Electronics", "Jwellery", "others"],
        datasets: [{
            data: [{{ categoryamount }}],
        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56"]
    }]
    };
    var ctx = document.getElementById("myChart");
    if (ctx) {
        var myPieChart = new Chart(ctx, {
            type: 'bar',
            data: data
        });
    }
</script>
<!-- / Content -->
<script>
    var data = {
        labels: ["Fasion", "Electronics", "Jwellery", "others"],
        datasets: [{
            data: [{{ categorycount }}],
        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#56FF0E"]
    }]
    };
    var ctx = document.getElementById("myChartpei");
    if (ctx) {
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $('#pdf').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/admin/pdfgenerator', // Make sure the URL matches your server endpoint
                method: 'GET',
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Succesfully Genereated PDF',
                        width: '300px',
                    });
                    location.href = "/admin";
                }
            });
        })
    })
</script>
{{> adminfooter}}


</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

</div>
<!-- / Layout wrapper -->


</body>

</html>