<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>name</th>
            <th>Email</th>

            <th>Phoneno</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0" >
        {{#each data}}
        <tr>
            <td>
                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                        class="avatar avatar-xs pull-up" title="{{data.name}}">
                        <img src="../images/profile.png" alt="Avatar" class="rounded-circle me-2" />{{this.username}}
                    </li>

                </ul>

            </td>
            <td>
                <span class="fw-medium">{{this.name}}</span>
            </td>
            <td>{{this.email}}</td>

            <td><span class="badge bg-label-primary me-1">{{this.phoneno}}</span></td>
            <td><span class="">{{this.gender}}</span></td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/edituser/{{this._id}}">
                            <i class="bx bx-edit-alt me-1"></i> Edit</a>
                        <a class="dropdown-item" href="/admin/deleteuser/{{this._id}} "
                            onclick="return confirm('Are you want to Delete ?')">
                            <i class="bx bx-trash me-1"></i> Delete</a>
                        {{#if status}}
                        <a class="dropdown-item" href="/admin/unblockuser/{{this._id}} " />
                        <i class="bx bx-check-square me-1"></i> unblock User</a>
                        {{else}}
                        <a class="dropdown-item" href="/admin/blockuser/{{this._id}} "
                            onclick="return confirm('Are you Sure Block {{this.name}} ?')">
                            <i class="bx bx-block me-1"></i> block User</a>
                        {{/if}}
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>