<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/cart.css' />


<div class="row">
    {{!-- {{> header}} --}}
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <a href="" class="d-flex align-items-center">
                        <img src="images/lr.png" class="mt-0" style="height: 35px; width: 35px; margin-right: 10px;">
                        <h3 class="mt-2">Ras Shopping</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- logo section end -->
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="containt_main">

                <div class="main">
                    <!-- Another variation with a button -->

                </div>

                <div class="header_box">
                    <div class="lang_box ">
                        <a href="" class="nav-link"><i class="fa-solid text-dark">{{username}}</i>

                            <div class="dropdown-menu ">

                                <a href="#" class="dropdown-item">

                                </a>
                            </div>
                    </div>

                    <div class="login_menu">
                        <ul>
                            <li><a href="/users/home">
                                    <i class="fa fa-home text-dark mr-0"></i>
                                    <span class="padding_10 mr-3" style="color: black;">Home</span></a>
                            </li>

                            <li><a href="/users/logout">
                                    <i class="fa-solid fa-right-from-bracket text-dark"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-5 mt-5">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Shopping Cart</b></h4>
                            </div>
                            <div id="count" class="col align-self-center text-right text-muted">{{count}} items</div>
                        </div>
                    </div>

                    {{#if data.items.length}}
                    {{#each data.items}}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col">
                                <a href="/users/moredetails/{{this.product._id}}"><img class="img-fluid"
                                        src="../products-images/{{this.product.image}}">
                                </a>
                            </div>
                            <div class="col">
                                <div class="row text-muted">{{this.product.category}}</div>
                                <div class="row">{{this.product.name}}</div>
                                <div class="row text-muted">{{this.size}}</div>
                            </div>
                            <div class="col">
                                <a  class="minus border" href="/users/cart/quantityminus/{{this.product._id}}"> - </a>
                                <a id="quantityLink_{{this.product._id}}" class="">{{this.quantity}}</a>
                                <a class="add border" href="/users/cart/quantityadd/{{this.product._id}}"> + </a>
                            </div>
                            <div class="col">Rs : {{this.product.price}} <span class="close">
                                    <a class="delete" href="/users/cart/delete/{{this.product._id}}">&#10005;</a></span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <H3>Your cart is empty.</H3><a href="/users/home" class="btn btn-success">Add Product</a>
                    {{/if}}
                    <div class="back-to-shop"><a href="/users/home">&leftarrow;</a><span class="text-muted ">Back to
                            shop</span>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Summary</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" id="count" style="padding-left:0;">ITEMS {{count}}</div>
                        <div id="totpriceLink" class="col text-right">Rs:{{#if data.discountprice}}{{data.discountprice}} {{else}}{{data.totalPrice}}{{/if}}</div>
                    </div>
                    <form>
                        <p>SHIPPING</p>
                        <select>
                            <option class="text-muted">Standard-Delivery-Rs:40</option>
                            {{!-- <option class="text-muted">Speed-Delivery- Rs:50</option> --}}
                        </select>

                    </form>
                    <div class="row">
                        {{#if data.coupencode}}
                        <div class="col mb-2" id="count" style="padding-left:0;">APPLIED COUPEN</div>
                        <div class="mr-2 mb-2">
                            <span class="mr-2">{{data.coupencode}} - {{this.discount}}% OFF</span>
                            <span class="badge badge-success">Applied</span>
                            <a href="/users/coupen/remove"> &#10005;</a>
                        </div>
                        {{else}}
                        <div class="col" id="count" style="padding-left:0;">AVAILABLE COUPEN</div>
                        <form>
                            {{#each coupen}}
                            <div class="mb-2">
                                <span class="mr-2">{{this.code}} - {{this.discount}}% OFF</span>
                                <a id="applyButton" class="new" data-code="{{this.code}}-{{this.discount}}">Apply</a>
                            </div>
                            {{/each}}
                        </form>
                        {{/if}}
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL PRICE</div>
                            {{#if data.discountprice}}
                            <div id="totlink" class="row text-right">Total Rs: {{data.totalPrice}}</div><br>
                            <div id="totlink" class="row text-right">Discount %: {{data.discount}}</div>
                            <div id="totlink" class="col text-right">Discount Rs: {{total}}</div>
                            {{else}}
                            <div id="totlink" class="col text-right">Rs: {{total}}</div>
                            {{/if}}
                            
                        </div>

                        <a href="/users/checkout" class="btn">CHECKOUT</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="row m-0">
            {{> userfooter}}
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#applyButton').click(function (e) {
                e.preventDefault();
                var link = $(this);
                var codeWithDiscount = $(this).data('code');
                var codeAndDiscount = codeWithDiscount.split('-');
                var code = codeAndDiscount[0];
                var discount = codeAndDiscount[1];
                $.ajax({
                    type: 'POST',
                    url: '/users/cart/coupon',
                    data: { code: code, discount: discount },
                    success: function (response) {
                        $('#totpriceLink').text('Rs: ' + response.totalPrice);
                        $('#totlink').text('Rs: ' + (response.totalPrice + 40));
                        var appliedButtonHtml = '<span class="badge badge-success">Applied</span>';
                        appliedButtonHtml += '<a href="/users/coupen/remove"> &#10005;</a>';
                        link.parent().html(appliedButtonHtml);

                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $('.delete').click(function (e) {
                e.preventDefault();
                var productId = $(this).attr('href').split('/').pop();
                var currentElement = $(this).closest('.row');
                $.ajax({
                    type: 'GET',
                    url: '/users/cart/delete/' + productId,
                    success: function (response) {
                        $('#totpriceLink').text('Rs: ' + response.totalPrice);
                        $('#totlink').text('Rs: ' + (response.totalPrice + 40));
                        $('#count').text((response.count) + ' items');
                        currentElement.remove();
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.minus').click(function (e) {
                e.preventDefault();
                var dis=$(this).data('code');
                var productId = $(this).attr('href').split('/').pop();
                var uniqueId = 'quantityLink_' + productId;
                if(dis){
                    console.log("errror")
                }else{

                $.ajax({
                    type: 'GET',
                    url: '/users/cart/quantityminus/' + productId,
                    success: function (response) {
                        $('#' + uniqueId).text(response.quantity);
                        $('#totpriceLink').text('Rs: ' + response.totalPrice);
                        $('#totlink').text('Rs: ' + (response.totalPrice + 40));
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('.add').click(function (e) {
                e.preventDefault();
                var productId = $(this).attr('href').split('/').pop();
                var uniqueId = 'quantityLink_' + productId;
                $.ajax({
                    type: 'GET',
                    url: '/users/cart/quantityadd/' + productId,
                    success: function (response) {
                        if(response=="coupen"){
                            Swal.fire({
                                icon: 'warning',
                                title: 'First Remove Coupon!',
                                text: 'then Add Quantity',
                                width: '300px',
                            });
                        }
                        else if (response === false) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Out of Stock!',
                                text: 'Item will added back.',
                                width: '300px',
                            });
                        }
                        else {
                            $('#' + uniqueId).text(response.quantity + 2);
                            $('#totpriceLink').text('Rs: ' + response.totalPrice);
                            $('#totlink').text('Rs: ' + (response.totalPrice + 40));
                        }
                    },

                });
            });
        });
    </script>