<!-- banner bg main start -->

{{> userheader}}


<!-- banner section start -->
<div class="banner_section layout_padding">
   <div class="container">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="banner_taital">Let Starts <br>with Ras shoping</h1>
                     <div class="buynow_bt"><a href="/users/shop">Buy Now</a></div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="banner_taital">Lets Connect <br>With Whatsapp</h1>
                     <div class="buynow_bt"><a
                           href="https://api.whatsapp.com/send?phone=919605942261&text=Hey%2C%20Rasi%20"
                           target="_blank">Say Hello</a></div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="banner_taital">Get Start <br>Your Ras shoping</h1>
                     <div class="buynow_bt"><a href="/users/shop">Buy Now</a></div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
         </a>
         <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
         </a>
      </div>
   </div>
</div>
<!-- banner section end -->
</div>
{{#if search}}
<div class="fashion_section_1 mt-3" id="search-results">
   <div class="row">
      {{!-- <div id="search-results"> --}}
         {{#each categorizedProducts}}
         <div class="col-lg-4 col-sm-6 ">
            <div class="box_main ">
               <h4 class="shirt_text">{{this.name}}</h4>
               <p class="price_text">Price <span style="color: #262626;">Rs {{this.price}}</span></p>
               <div class="tshirt_imgshop"><img src="products-images/{{this.image}}"></div>
               <div class="btn_main">
                  <div class="buy_bt"><a href="/users/cart/{{this._id}}">Add to Cart</a></div>
                  <div class="seemore_bt"><a href="/users/moredetails/{{this._id}}">See More</a></div>
               </div>
            </div>
         </div>
         {{/each}}
         {{!--
      </div> --}}
   </div>
</div>

{{else}}

<!-- fashion section start -->
<div class="fashion_section">
   <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         {{#each categorizedProducts}}
         <div class="carousel-item {{#if @first}}active{{/if}}">
            <div class="container">
               <h1 class="fashion_taital">{{@key}}</h1>
               <div class="fashion_section_1" id="search-results">
                  <div class="row">

                     {{#each this}}
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">{{this.name}}</h4>
                           <p class="price_text">Price <span style="color: #262626;">Rs {{this.price}}</span></p>
                           <div class="tshirt_img"><img src="products-images/{{this.image}}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="/users/cart/{{this._id}}">Add to Cart</a></div>
                              <div class="seemore_bt"><a href="/users/moredetails/{{this._id}}">See More</a></div>
                           </div>
                        </div>
                     </div>
                     {{/each}}

                  </div>
               </div>
            </div>
         </div>
         {{/each}}
      </div>
      <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
         <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
         <i class="fa fa-angle-right"></i>
      </a>
   </div>
</div>

<!-- electronic section start -->
<div class="fashion_section">
   <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <h1 class="fashion_taital">Electronic</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     {{#each categorizedProducts.electronics}}
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">{{this.name}}</h4>
                           <p class="price_text">Price <span style="color: #262626;">Rs {{this.price}}</span></p>
                           <div class="tshirt_img"><img src="products-images/{{this.image}}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="/users/cart/{{this._id}}">Buy Now</a></div>
                              <div class="seemore_bt"><a href="/users/moredetails/{{this._id}}">See More</a></div>
                           </div>
                        </div>
                     </div>
                     {{/each}}

                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item ">
            <div class="container">
               <h1 class="fashion_taital">Electronic</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     {{#each categorizedProducts.electronics}}
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">{{this.name}}</h4>
                           <p class="price_text">Price <span style="color: #262626;">Rs {{this.price}}</span></p>
                           <div class="tshirt_img"><img src="products-images/{{this.image}}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="/users/cart/{{this._id}}">Buy Now</a></div>
                              <div class="seemore_bt"><a href="/users/moredetails/{{this._id}}">See More</a></div>
                           </div>
                        </div>
                     </div>
                     {{/each}}

                  </div>
               </div>
            </div>
         </div>



      </div>

      <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
         <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
         <i class="fa fa-angle-right"></i>
      </a>
   </div>
</div>
<!-- electronic section end -->
<!-- jewellery  section start -->
<div class="fashion_section">
   <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <h1 class="fashion_taital">Jewellery Accessories</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     {{#each categorizedProducts.jwellery}}
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">{{this.name}}</h4>
                           <p class="price_text">Price <span style="color: #262626;">Rs {{this.price}}</span></p>
                           <div class="tshirt_img"><img src="products-images/{{this.image}}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="/users/cart/{{this._id}}">Buy Now</a></div>
                              <div class="seemore_bt"><a href="/users/moredetails/{{this._id}}">See More</a></div>
                           </div>
                        </div>
                     </div>
                     {{/each}}

                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item ">
            <div class="container">
               <h1 class="fashion_taital">Jewellery Accessories</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     {{#each categorizedProducts.jwellery}}
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">{{this.name}}</h4>
                           <p class="price_text">Price <span style="color: #262626;">Rs {{this.price}}</span></p>
                           <div class="tshirt_img"><img src="products-images/{{this.image}}"></div>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="/users/cart/{{this._id}}">Buy Now</a></div>
                              <div class="seemore_bt"><a href="/users/moredetails/{{this._id}}">See More</a></div>
                           </div>
                        </div>
                     </div>
                     {{/each}}

                  </div>
               </div>
            </div>
         </div>

      </div>
      <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
         <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
         <i class="fa fa-angle-right"></i>
      </a>
      <div class="loader_main">
         <div class="loader">
            <li><a href="/users/shop" class="mt-5">Click </a></li>
            <li><a href="/users/shop" class=" mt-3">More </a></li>
            <li><a href="/users/shop" class=" mt-3">Click</li>
         </div>
      </div> </a>
   </div>
</div>
{{/if}}
<!-- jewellery  section end -->

{{> userfooter}}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
   $(document).ready(function () {
      $('#search').on('input', function () {
         const query = $(this).val().trim();

         if (query.length > 0) {
            $.get(`/users/products/search?query=${query}`, function (data) {
               if (data.length > 0) {
                  $('#search-results').html(data);
               } else {
                  $('#search-results').html('<p>No results found</p>');
               }
            });
         } else {
            location.reload(); // This will reload the current page
         }
      });
   });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   $(document).ready(function () {
      $('.buy_bt a').click(function (e) {
         e.preventDefault();
         var productId = $(this).attr('href').split('/').pop();
         var productCount = $(this).closest('.box_main').find('.badge').text();
         $.ajax({
            type: 'GET',
            url: '/users/cart/' + productId,
            success: function (response) {
               if (typeof response === 'number') {
                  var newCount = response;
                  console.log(response)
                  $('.fa-shopping-cart + .badge').text(newCount);
                  Swal.fire({
                     icon: 'success',
                     title: 'Success!',
                     text: 'Item successfully added to the cart.',

                     width: '300px',
                  });
               }
               else {
                  location.href = "/users/login";
               }
            }
         });
      });
   });
</script>

<script>
   $(document).ready(function () {
      $('#subscribe').click(function (e) {
         e.preventDefault();
         var email = $('#email').val();
         if (!email || !email.endsWith('@gmail.com')) {
            alert('Please enter Valid Email !!!');
            return;
         }
         $.ajax({
            url: '/users/subscribe',
            method: 'POST',
            data: { email: email },
            success: function (response) {
               console.log('Subscription successful:', response);
               Swal.fire({
                  icon: 'success',
                  title: 'Subsribed!',
                  text: 'successfully added Email',
                  width: '300px',
               });
            },
         });
      });
   });

</script>