<!-- fashion section start -->
<div class="fashion_section mt-3 ">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="container-fluid" >
            <h1 class="fashion_taital " style="color: white;">ALL PRODUCTS</h1>
            <div class="fashion_section_1 mt-3" >
                <div class="row">
                    {{#each categorizedProducts}}
                    <div class="col-lg-4 col-sm-6 ">
                        <div class="box_main ">
                            <h4 class="shirt_text">{{this.name}}</h4>
                            <p class="price_text">Price <span style="color: #262626;">Rs {{this.price}}</span></p>
                            <div class="tshirt_imgshop"><img src="products-images/{{this.image}}"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="/users/cart/{{this._id}}">Add to Cart</a></div>
                                <div class="seemore_bt"><a href="/users/moredetails/{{this._id}}">See More</a></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>